:root {
  --primary-color: #4682B4;
  --secondary-color: #F16634;
  --background-color: #808080;
  --primary-text-color: #000000B3;
  --secondary-text-color: #FFFFFF;
  --button-transition-duration: 2s;
  --button-translate-y: 150%;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

::-moz-selection {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

.lp-container {
  position: fixed;
  top: 45%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.introduction-wrapper {
  padding: 0.25em;
  color: var(--primary-text-color);
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 2.5vw;
  font-weight: bold;
}

.introduction.home {
  display: flex;
  font-size: 1.75vw;
  align-items: flex-start;
  margin-bottom: 1em;
  width: 100%;
} 

.introduction h2 {
  display: flex;
  color: var(--primary-text-color);
}

.introduction.home h2 {
  color: var(--secondary-color);
}

.short-intro {
  margin-top: 1em;
  text-indent: 2.5em;
  font-weight: normal;
  font-size: 1.5vw;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.instruction {
  color: var(--background-color);
  font-size: 1.15vw;
  font-weight: normal;
  padding: 0.5em;
  margin: 0;
}

.input-name {
  border: none;
  background: none;
  border-bottom: 0.25vw solid gray;
  transition: border-bottom 1s;
  color: rgb(0, 0, 0, 0.8);
  text-decoration: none;
  text-align: center;
  font-size: 1.15vw;
  padding: 0.5em;
  width: 60%;
}

.input-name::placeholder {
  text-align: center;
  font-size: 1.15vw;
}

.input-name:focus {
  outline: none;
  border-bottom: 0.25vw solid var(--secondary-color);
}

.lp-button {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, var(--button-translate-y));
  background-color: var(--primary-color);
  transition: opacity var(--button-transition-duration), transform var(--button-transition-duration);
  cursor: pointer;
  border: none;
  opacity: 0;
}

.lp-button:hover {
  background-color: var(--secondary-color);
  transform: translate(50%, var(--button-translate-y)) scale(1.05) !important;
}

.lp-button.visible {
  opacity: 1;
  animation: slideIn var(--button-transition-duration) forwards;
}

.lp-button.hidden {
  opacity: 0;
  animation: slideOut var(--button-transition-duration) forwards;
}

.lp-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.lp-button-text {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 3.5vw;
  color: var(--secondary-text-color);
  font-size: 1.25vw;
}

.lp-button-arrow {
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  top: 35%;
  right: 15%;
  width: 0.75vw;
  height: 0.75vw; 
  border-bottom: 0.25vw solid var(--secondary-text-color);
  border-right: 0.25vw solid var(--secondary-text-color);
  animation: animate 1.5s infinite;
}

.lp-button-arrow:nth-child(2) {
  animation-delay: 0.15s;
  border-color: rgba(255, 255, 255, 0.4);
  right: 20%;
}

.first-screen,
.second-screen,
.third-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.first-screen {
  background-color: var(--background-color);
  z-index: 2;
}

.second-screen {
  background-color: var(--secondary-color);
  z-index: 5;
}

.third-screen {
  background-color: var(--background-color);
  z-index: 2;
}

.header {
  display: flex;
  position: fixed;
  background-color: var(--primary-color);
  justify-content: space-between;
  color: var(--primary-text-color);
  align-items: center;
  padding: 0.25vw 4vw;
  width: 100vw;
  height: 10vh;
  z-index: 3;
}

.header-blur {
  backdrop-filter: blur(0.5em);
  background-color: rgba(70, 130, 180, 0.7);
  transition: backdrop-filter 1s ease;
}

.header:not(.header-blur) {
  backdrop-filter: none;
  opacity: 1;
}

.header-title {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  letter-spacing: 0.5vw;
  font-weight: bolder;
  font-size: 2.75vw;
}

.header-title span {
  color: var(--secondary-color);
}

.tabs-wrapper {
  display: flex;
  font-size: 1.25vw;
}

.tab-icon {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.tab-button {
  position: relative;;
  padding: 0.25em 1em;
  background-color: transparent;
  color: var(--secondary-text-color);
  text-decoration: none;
  cursor: pointer;
}

.tab-bubble {
  inset: 0;
  position: absolute;
  background-color: var(--secondary-color);
  mix-blend-mode: color;
  border-radius: 1em;
}

.blur {
  backdrop-filter: blur(5px);
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content { flex: 1 }

.home-container {
  display: flex;
  padding: 2em;
  margin-top: 2em;
  justify-content: space-between;
  color: var(--primary-text-color);
  backdrop-filter: blur(2px);
}

.blob-wrapper {
  display: flex;
  position: relative;
  align-self: flex-start;
  width: 40%;
}

.blob {
  position: absolute;
  width: 100%;
}

.blob1 {
  opacity: 0.2;
  top: 4vh;
  left: 2vw;
}

.blob2 {
  opacity: 0.6;
  top: 4vh;
  left: 2vw;
}

.blob-image {
  position: relative;
  top: 6vh;
  left: 4vw;
  width: 90%;
}

.description-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1.75em 0.5em;
  position: relative;
}

.greeting-text {
  font-size: 3.5vw;
  font-weight: bold;
}

.description-text {
  font-size: 1.5vw;
  text-indent: 2em;
  padding: 0 1em;
  color: var(--primary-text-color);
  font-weight: normal;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  color: var(--primary-text-color);
  margin-top: 2em;
  gap: 1em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vw solid var(--background-color);
  color: var(--secondary-color);
  padding: 0.25em 1em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.25vw;
  cursor: pointer;
  gap: 0.5em;
}

.button:hover {
  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
  border: none;
}

.about-container {
  color: var(--primary-text-color);
  backdrop-filter: blur(2px);
  margin-top: 2em;
  padding: 4em 6em;
}

.about-person {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rubber-letter {
  display: inline-block;
}

.rubber-letter.dark {
  color: var(--primary-text-color) !important;
}

.about-person h1 {
  font-size: 4.5vw;
  letter-spacing: 2px;
  margin-left: 5vw;
}

.about-name {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
  width: 100%;
  gap: 0.5em;
}

.about-name .dot {
  font-size: 2.5vw;
  margin-top: auto;
  color: var(--secondary-color);
}

.about-description {
  font-size: 1.15em;
  margin: 0.5em 4em;
  text-indent: 2em;
}

.about-contact {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.about-link {
  display: flex;
  padding: 2em 6em;
}

.about-link h3 {
  display: inline-flex;
  color: var(--secondary-color);
  align-items: center;
  margin-right: 1em;
  gap: 0.5em;
}

.about-icons {
  display: flex;
  cursor: pointer;
  gap: 0.5em;
}

.about-icon {
  display: flex;
  font-size: 1.75em;
  color: var(--primary-color);
}

.about-icon:hover {
  color: var(--secondary-color);
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-overlay {
  display: inline-block;
  position: relative;
  font-size: 1vw;
  text-align: center;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  color: var(--secondary-text-color);
  border-radius: 1em;
  width: fit-content;
  padding: 0em 0.5em;
  margin: auto;
  opacity: 0;
}

.image-wrapper:hover .text-overlay {
  opacity: 1;
  transform: translateY(8px);
  background-color: var(--secondary-color);
}

.carousel-container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  margin-top: 2em;
  padding: 0 2em;
}

.certificate-container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  margin-top: 2em;
  padding: 0 2em;
}

.play-title,
.certificate-title,
.carousel-title {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  margin-bottom: 4em;
  width: 100%;
}

.play-title {
  align-items: center;
  margin-bottom: 1.5em;
}

.play-title h1,
.certificate-title h1,
.carousel-title h1 {
  font-size: 3.75vw;
}

.title-wrapper {
  display: flex;
  align-items: center;
  width: calc(100vw - 16em);
  overflow: hidden;
  gap: 2em;
}

.title-line {
  flex: 1;
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
}

.play-title h3,
.certificate-title h3,
.carousel-title h3 {
  color: var(--background-color);
  font-weight: normal;
  display: flex;
  width: 100%;
}

.certificate-title h3 {
  text-align: end;
}

.rfm-marquee-container {
  min-height: 25vh;
  display: flex;
}

.rfm-overlay::before,
.rfm-overlay::after {
  width: 20vw;
}

.svg-icon {
  width: 6vw;
  height: 6vw;
  margin: 0 2em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 2em;
}

.card-certificate {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.card-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: rgba(75, 75, 75, 0.4);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5vw;
  background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 100%);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
  z-index: 1;
}

.card-wrapper:hover::before {
  transform: scaleX(1);
}

.card-image {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  transition: top 0.3s ease-in-out;
  top: 2.5vw;
}

.card-image:hover {
  top: 1em;
  box-shadow: 0.25em 0.5em 0.5em var(--primary-text-color);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em 1.25em;
  font-size: normal;
  font-size: 1vw;
  min-height: 30%;
}

.card-info h3 {
  letter-spacing: 0.1vw;
}

.card-info p {
  color: rgb(245, 245, 245);
  letter-spacing: 0.05vw;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card-line {
  flex: 1;
  height: 0.2vw;
  margin-left: 0.5em;
  background-image: linear-gradient(
    to right,
    var(--primary-text-color) 50%, transparent 50%
  );
  background-size: 2.5vw auto;
  content: "";
}

.unavailable-container,
.project-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(2px);
  color: var(--primary-text-color);
  padding: 4em 8em;
  margin-top: 2em;
}

.unavailable-container h1{
  font-size: 2em;
}

.project-container h1 {
  font-size: 3em;
}

.unavailable-container h3,
.project-container h3 {
  color: var(--background-color);
  margin-bottom: 1em;
  font-weight: normal;
}

.project-card {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 2em 0;
}

.project-image {
  display: inline-flex;
  justify-content: flex-end;
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 1em;
  padding: 2em;
  width: 45vw;
}

.project-card.odd .project-image {
  justify-content: flex-start;
  margin-left: auto;
}

.project-image img {
  position: relative;
  width: 90%;
}

.project-image img:hover {
  box-shadow: 0 0.25em 1em var(--primary-text-color);
}

.project-description {
  display: flex;
  text-align: right;
  font-size: 1.15vw;
  margin-right: 4em;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 40vw;
}

.project-card.odd .project-description {
  align-items: flex-start;
  text-align: left;
  margin-left: 4em;
  left: 0;
}

.project-description h2 {
  font-size: 2vw;
  color: var(--primary-text-color);
  margin-bottom: 0.5em;
}

.project-detail {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  height: 90%;
}

.project-detail p {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border-radius: 1em;
  padding: 1em 1.5em;
}

.tech-stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-top: auto;
  gap: 0.5em;
}

.project-card.odd .tech-stack-wrapper {
  align-self: flex-start;
}

.tech-stack-item {
  font-size: 1vw;
  margin-top: 0.5em;
  padding: 0.25em 1em;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.project-link {
  display: flex;
  font-size: 1.25em;
  gap: 0.5em;
}

.project-link a {
  margin-top: 0.5em;
  color: var(--primary-text-color);
}

.project-card.odd .project-link {
  margin-right: auto;
}

.project-card.even .project-link {
  margin-left: auto;
}

.playground-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  backdrop-filter: blur(2px);
  color: var(--background-color);
  padding: 6em 8em;
  margin-top: 2em;
}

.progress-bar {
  position: fixed;
  background: var(--secondary-color);
  transform-origin: 0%;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0.5vh;
}

.reveal-container {
  display: flex;
  position: relative; 
  width: fit-content; 
  overflow: hidden;
}

.slide-animation {
  position: absolute;
  background: var(--secondary-color);
  bottom: 0.15em;
  top: 0.15em;
  left: 0;
  right: 0;
  z-index: 2;
}

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text-color);
  background-color: #6495ED;
  padding: 1vw 4vw;
  font-size: 1.25vw;
  height: 12vh;
  width: 100%;
  z-index: 3;
  bottom: 0;
}

.footer-tm {
  display: flex;
  align-items: baseline;
}

.footer span {
  font-size: 1.25em;
  font-weight: bolder;
  color: var(--secondary-color);
}

.footer-icons {
  display: flex;
  position: relative;
  cursor: pointer;
  gap: 1.5em;
}

.footer-icon {
  font-size: 2em;
  color: var(--secondary-text-color);
}

.footer-icon svg {
  display: flex;
  align-items: center;
}

.footer-icon:hover {
  color: var(--secondary-color);
}

@keyframes slideIn {
  from {
    transform: translateX(50%) translateY(250%);
  }

  to {
    transform: translateX(50%) translateY(150%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(50%) translateY(150%);
  }

  to {
    transform: translateX(50%) translateY(250%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(-0.5vw, -0.5vw);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg) translate(0.5vw, 0.5vw);
  }
}

.marquee {
  animation-duration: 1s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .lp-container {
    width: 70%;
  }
  
  .introduction,
  .header-title {
    font-size: 3vw;
  }
  
  .lp-button-text,
  .instruction,
  .input-name,
  .input-name::placeholder {
    font-size: 1.5vw;
  }

  .home-container,
  .about-container,
  .project-container,
  .unavailable-container,
  .playground-container {
    padding: 4em 2em;
  }

  .blob-wrapper {
    align-self: auto;
    width: 50%;
  }

  .description-wrapper {
    padding: 1.75em 0;
  }

  .description-text {
    padding: 0 0.5em;
  }

  .about-name {
    margin-bottom: 0.5em;
  }

  .about-person h1 {
    margin-left: 1.5em;
    font-size: 6vw;
  }

  .about-name .dot,
  .about-person h2,
  .project-description h2 {
    font-size: 3vw;
    margin: 0;
  }

  .project-card {
    flex-direction: column;
    overflow: hidden;
    padding: 0 2em;
    margin: 0;
  }

  .project-card.odd .project-image,
  .project-card.even .project-image {
    justify-content: center;
    margin: auto;
    width: 90%;
  }

  .project-image img {
    bottom: -1em;
  }

  .project-description {
    text-align: left;
    position: relative;
    align-items: flex-start;
    background-color: var(--primary-color);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 0 auto;
    padding: 1em 2em;
    width: 90%;
    top: -6em;
  }

  .project-card.odd .project-description {
    margin: 0 auto;
  }

  .project-detail p {
    margin-bottom: 0.5em; 
    padding: 0 0.5em;
  }

  .project-card.odd .tech-stack-wrapper {
    align-self: flex-end;
  }

  .project-link {
    align-self: flex-end;
    font-size: 2vw;
  }

  .project-card.odd .project-link {
    margin: 0;
  }

  .play-title h1,
  .project-container h1,
  .greeting-text {
    font-size: 5vw;
  }

  .title-wrapper {
    width: calc(100vw - 8em);
  }

  .carousel-title {
    margin-bottom: 2em;
  }

  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    padding: 1em;
  }

  .card-image {
    top: 3.5vw;
  }

  .card-info,
  .tech-stack-item {
    font-size: 1.5vw;
  }

  .card-line {
    height: 0.5vh;
    background-size: 5vw;
  }

  .svg-icon {
    height: 8vw;
    width: 8vw;
  }

  .play-title h3,
  .project-container h3,
  .introduction.home {
    font-size: 2.5vw;
    margin-bottom: 0.5em;
  }

  .project-container h3 {
    margin-bottom: 2em !important;
  }

  .button-wrapper {
    margin-top: 0.75em;
  }

  .short-intro,
  .tabs-wrapper,
  .description-text,
  .project-detail p,
  .button,
  .footer {
    font-size: 1.75vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .lp-container {
    width: 80%;
  }
  
  .introduction,
  .header-title {
    font-size: 5vw;
  }
  
  .lp-button-text,
  .instruction,
  .input-name,
  .input-name::placeholder {
    font-size: 2.75vw;
  }

  .lp-button-arrow {
    width: 1.5vw;
    height: 1.5vw;
    right: 10%;
  }

  .lp-button-arrow:nth-child(2) {
    right: 15%;
  }

  .home-container {
    flex-direction: column-reverse;
    padding: 6em 1.5em;
  }

  .about-container,
  .project-container,
  .unavailable-container,
  .playground-container {
    padding: 6em 1.5em;
  }

  .blob-wrapper {
    width: 90%;
    align-self: flex-end;
  }

  .description-wrapper {
    width: 100%;
  }

  .about-name {
    margin-bottom: 0.5em;
  }

  .about-person h1 {
    letter-spacing: 1px;
    margin-left: 1.25em;
    font-size: 7vw;
  }

  .about-name .dot,
  .about-person h2,
  .project-description h2 {
    font-size: 3vw;
    margin: 0;
  }

  .project-card {
    flex-direction: column;
    overflow: hidden;
    padding: 1em 2em;
    margin: 0;
  }

  .project-card.odd .project-image,
  .project-card.even .project-image {
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 1em;
  }

  .project-image img {
    bottom: -1em;
  }

  .project-description {
    text-align: left;
    position: relative;
    align-items: flex-start;
    background-color: var(--primary-color);
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    margin: 0 auto;
    padding: 1em 2em;
    width: 90%;
    top: -4em;
  }

  .project-card.odd .project-description {
    margin: 0 auto;
  }

  .project-detail p {
    margin-bottom: 0.5em; 
    padding: 0 0.5em;
  }

  .project-card.odd .tech-stack-wrapper {
    align-self: flex-end;
  }

  .tech-stack-wrapper {
    gap: 1em;
  }

  .tech-stack-item {
    align-self: flex-end;
    font-size: 2vw;
  }

  .project-link {
    align-self: flex-end;
  }

  .project-card.odd .project-link {
    margin: 0;
  }

  .play-title h1,
  .project-container h1,
  .unavailable-container h1,
  .greeting-text {
    font-size: 8vw;
  }

  .short-intro,
  .carousel-title h3,
  .certificate-title h3,
  .project-container h3,
  .play-title h3 {
    font-size: 3vw;
  }

  .project-container h3 {
    margin-bottom: 2em !important;
  }

  .carousel-title,
  .certificate-title {
    margin-bottom: 2em;
  }

  .carousel-title h1,
  .certificate-title h1,
  .introduction.home {
    font-size: 5vw;
  }

  .title-wrapper {
    width: calc(100vw - 7em);
  }
  
  .about-description,
  .description-text,
  .playground-container p,
  .unavailable-container p {
    font-size: 3.25vw;
    padding: 0;
  }

  .about-description {
    margin: 0.5em 2.5em;
  }

  .about-link {
    padding: 1em 5em;
  }

  .svg-icon {
    height: 10vw;
    width: 10vw;
    margin: 0 1em;
  }

  .text-overlay {
    font-size: 2vw;
  }

  .rfm-marquee-container {
    min-height: 20vh;
  }

  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    padding: 1em;
  }

  .card-wrapper::before {
    height: 2vw;
  }

  .card-image {
    max-width: 100%;
    top: 7vw;
  }

  .card-info {
    font-size: 2.75vw;
  }

  .card-line {
    height: 0.5vh;
    background-size: 5vw;
  }

  .button-wrapper {
    margin-top: 1.5em;
  }

  .tabs-wrapper,
  .project-detail p,
  .project-link,
  .about-link,
  .button,
  .footer {
    font-size: 2.5vw;
  }

  .footer {
    bottom: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .lp-container {
    width: 90%;
  }
  
  .introduction,
  .header-title {
    font-size: 6vw;
  }
  
  .lp-button-text,
  .instruction,
  .input-name,
  .button,
  .input-name::placeholder,
  .project-detail p {
    font-size: 3vw;
  }

  .lp-button-arrow {
    top: 40%;
    width: 1.5vw;
    height: 1.5vw;
    right: 12%;
  }

  .lp-button-arrow:nth-child(2) {
    right: 16%;
  }

  .home-container {
    flex-direction: column-reverse;
    padding: 4em 1em;
  }

  .about-container {
    padding: 6em 0;
  }

  .project-container,
  .unavailable-container,
  .playground-container {
    padding: 6em 1em;
  }

  .carousel-title h1,
  .certificate-title h1,
  .introduction.home {
    font-size: 5vw;
  }

  .carousel-title, 
  .certificate-title {
    margin-bottom: 2em;
  }

  .blob-wrapper {
    width: 90%;
    align-self: flex-end;
  }

  .description-wrapper {
    width: 100%;
  }

  .title-wrapper {
    width: calc(100vw - 4em);
  }

  .about-name {
    margin-bottom: 0.5em;
  }

  .about-person h1 {
    letter-spacing: 1px;
    margin-left: 1em;
    font-size: 8vw;
  }

  .about-name .dot,
  .about-person h2,
  .project-description h2 {
    font-size: 5vw;
    margin: 0;
  }

  .project-card {
    flex-direction: column;
    overflow: hidden;
    padding: 1em 0;
    margin: 0;
  }

  .project-card.odd .project-image,
  .project-card.even .project-image {
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 0.5em;
  }

  .project-image img {
    bottom: -1em;
  }

  .project-description {
    text-align: left;
    position: relative;
    align-items: flex-start;
    background-color: var(--primary-color);
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    margin: 0 auto;
    padding: 1em 2em;
    width: 90%;
    top: -4em;
  }

  .project-card.odd .project-description {
    margin: 0 auto;
  }

  .project-detail p {
    margin-bottom: 0.5em; 
    padding: 0 0.5em;
  }

  .project-card.odd .tech-stack-wrapper {
    align-self: flex-end;
  }

  .tech-stack-wrapper {
    gap: 1em;
  }

  .tech-stack-item {
    align-self: flex-end;
    font-size: 2vw;
  }

  .project-link {
    align-self: flex-end;
  }

  .project-card.odd .project-link {
    margin: 0;
  }

  .play-title h1,
  .project-container h1,
  .unavailable-container h1,
  .greeting-text {
    font-size: 8vw;
  }

  .card-info,
  .carousel-title h3,
  .certificate-title h3,
  .project-container h3,
  .play-title h3 {
    font-size: 3vw;
  }
  
  .short-intro,
  .project-link,
  .description-text,
  .about-description,
  .playground-container p,
  .unavailable-container p {
    font-size: 3.5vw;
    padding: 0;
  }

  .about-description {
    margin: 0.5em 2.5em;
  }

  .about-link {
    padding: 1em 5em;
  }

  .svg-icon {
    height: 10vw;
    width: 10vw;
    margin: 0 1em;
  }

  .text-overlay {
    font-size: 2vw;
  }

  .rfm-marquee-container {
    min-height: 16vh;
  }

  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    padding: 1em;
  }

  .card-wrapper::before {
    height: 1.5vw;
  }

  .card-image {
    max-width: 100%;
    top: 7vw;
  }

  .card-line {
    height: 0.5vh;
    background-size: 5vw;
  }

  .button-wrapper {
    margin-top: 1em;
  }

  .tech-stack-item,
  .tabs-wrapper,
  .about-link,
  .footer {
    font-size: 2.5vw;
  }

  .footer {
    bottom: 0;
  }

  .popup {
    position: fixed;
    background-color: rgba(75, 75, 75, 0.6);
    color: var(--secondary-text-color);
    backdrop-filter: blur(0.5em);
    border: none;
    width: 100%;
    top: 30%;
  }

  .popup-content {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }

  .popup-button {
    display: flex;
    align-self: center;
    border: 0.2vw solid var(--background-color);
    color: var(--secondary-color);
    padding: 0.25em 1em;
    border-radius: 0.5em;
    width: fit-content;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 1em;
    cursor: pointer;
  }
}
