:root {
  --primary-color: #4682B4;
  --secondary-color: orangered;
  --text-color: rgb(0, 0, 0, 0.7);
  --hover-text-color: white;
  --privacy-screen-color: #696969;
  --button-transition-duration: 2s;
  --button-translate-y: 150%;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--privacy-screen-color);
  z-index: 2;
}

.lp-container {
  position: fixed;
  top: 45%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.occupation-wrapper {
  padding: 0.5em;
  color: var(--text-color);
}

.occupation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
}

.occupation h2 {
  color: var(--text-color);
  margin: 8px;
}

.short-intro {
  margin-top: 1em;
  text-indent: 2.5em;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.instruction {
  color: var(--text-color);
  padding-bottom: 1em;
  margin: 0;
}

.input-name {
  border: none;
  background: transparent;
  border-bottom: 2px solid gray;
  transition: border-bottom 1s;
  color: rgb(0, 0, 0, 0.8);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 60%;
}

.input-name::placeholder {
  text-align: center;
}

.input-name:focus {
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
}

.lp-button {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, var(--button-translate-y));
  background-color: var(--primary-color);
  transition: opacity var(--button-transition-duration), transform var(--button-transition-duration);
  cursor: pointer;
  border: none;
  opacity: 0;
}

.lp-button:hover {
  background-color: var(--secondary-color);
  transform: translate(50%, var(--button-translate-y)) scale(1.1) !important;
}

.lp-button.visible {
  opacity: 1;
  animation: slideIn var(--button-transition-duration) forwards;
}

.lp-button.hidden {
  opacity: 0;
  animation: slideOut var(--button-transition-duration) forwards;
}

.lp-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lp-button-text {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 48px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.lp-button-arrow {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 20%;
  width: 0.75em;
  height: 0.75em;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  animation: animate 1.5s infinite;
}

.lp-button-arrow:nth-child(2) {
  animation-delay: 0.1s;
  border-color: rgba(255, 255, 255, 0.4);
  top: 32%;
  right: 26%;
  width: 0.60em;
  height: 0.60em;
}

.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-title {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  /* Sembunyikan ikon menu secara default */
}

.bar {
  background-color: #fff;
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.2rem 0;
  transition: transform 0.3s;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(5px) rotate(-45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(45deg);
}

/* Navigasi */
nav {
  display: flex;
}

.header-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.header-links li {
  margin: 0 1rem;
}

.header-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.header-links a:hover {
  color: #1e90ff;
}

@keyframes slideIn {
  from {
    transform: translateX(50%) translateY(250%);
  }

  to {
    transform: translateX(50%) translateY(150%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(50%) translateY(150%);
  }

  to {
    transform: translateX(50%) translateY(250%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(-8px, -8px);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg) translate(8px, 8px);
  }
}

/* Media query untuk menampilkan ikon menu saat lebar layar kurang dari atau sama dengan 992px */
@media screen and (max-width: 992px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 1.5rem;
  }

  .header-links {
    display: none;
  }

  .header.open .header-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 0;
    z-index: 1;
  }

  .header.open .header-links li {
    margin: 1rem 0;
  }

  .header.open nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .header-links a:hover {
    color: #1e90ff;
  }
}